mat-list {
  height: 50vh;
  width: 300px;
  overflow-y: scroll;
  background-color: #151515;

  mat-list-item {
    height: 34px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #afafaf;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6c6c6c;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

