.wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;

  button {
    font-size: 30px;
    padding: 35px;
  }

  .row-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
  }

  .column-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }

  mat-slider {
    width: 300px;
  }

  .amount-label {
    color: var(--mat-app-text-color);
    font-size: 24px;
    margin-bottom: 15px;
  }
}
