.wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;

  button {
    font-size: 30px;
    padding: 35px;
  }

  .row-wrapper {
    display: flex;
    flex-direction: row;
  }

  .column-wrapper {
    display: flex;
    flex-direction: column;
  }
}
