mat-toolbar {
  --mat-toolbar-container-background-color: #101010;
  display: flex;
  justify-content: space-between;

  flex-grow: 1;

  .start {
    display: flex;
    font-size: 24px;
    gap: 50px;
    flex-basis: calc(100% / 3);

    mat-icon {
      transform: translateY(5px);
      font-size: 28px;
      margin-right: 5px;
    }
  }

  .middle {
    flex-basis: calc(100% / 3);
    display: flex;
    justify-content: center;
  }

  .end {
    display: flex;
    flex-basis: calc(100% / 3);
    justify-content: end;
    mat-icon {
      font-size: 30px;
      width: 30px;
      height: 30px;
    }
    span {
      font-size: 20px;
    }
    button {
      height: 50px;
    }
  }
}


