:host {
  display: flex;
  flex-direction: column;

  .poker-panel {
    .phase {
      text-align: center;
      font-weight: 500;
    }

    .property {
      font-size: 18px;

      mat-icon {
        transform: translateY(4px);
        margin-right: 8px;
      }
    }
  }
}

.mobile.poker-panel {
  padding: 10px;

  .phase {
    font-size: 26px;
    line-height: 26px;
    padding: 5px;
    margin-bottom: 10px;
  }
}

.desktop.poker-panel {
  padding: 20px;

  .phase {
    font-size: 32px;
    line-height: 32px;
    padding: 10px;
    margin-bottom: 20px;
  }
}
