:host {
  width: 100vw;
  height: 100vh;
  display: flex;

  justify-content: center;
  align-items: center;

  .error {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 80px;

    .error-code {
      font-size: 100px;
    }

    .error-message {
      font-size: 50px;
    }
  }
}
