<div class="poker-panel mat-elevation-z5">
  @if (selectedPlayer(); as selectedPlayer) {
    <div class="properties">
      <div class="column">
        <mat-icon>account_circle</mat-icon>
        {{selectedPlayer.name}}
      </div>
      <div class="column">
        <div>
          <mat-icon>paid</mat-icon>
          {{selectedPlayer.money}}
        </div>
        <div>
          <mat-icon>poker_chip</mat-icon>
          {{selectedPlayer.bet}}
        </div>
      </div>
    </div>
    <div class="player-cards">
      @for (card of selectedPlayerCards(); track (card.suit + card.rank)) {
        <card [rank]="card.rank" [suit]="card.suit" [size]="CardSize.SMALL"/>
      }
    </div>
  }
</div>
