:host {
  display: flex;
  justify-content: center;

  .wrapper {
    background-color: #151515;
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    flex-basis: 270px;
    justify-content: center;
    gap: 10px;

    .properties {
      display: flex;
      flex-direction: row;
      gap: 100px;

      color: var(--mat-app-text-color);

      mat-icon {
        transform: translateY(5px);
        margin-right: 4px;
      }
    }

    .player-cards {
      margin-top: 10px;
      display: flex;
      column-gap: 5px;
      justify-content: center
    }
  }
}

