.wrapper {
  background-color: #151515;
  padding: 30px;

  .row {
    color: var(--mat-app-text-color);

    mat-icon {
      transform: translateY(5px);
      margin-right: 4px;
    }
  }

  .player-cards {
    margin-top: 10px;
    display: flex;
    column-gap: 5px;

  }
}
