<div class="wrapper">
  @if (game(); as game) {

    <app-toolbar class="mat-elevation-z5" [game]="game"></app-toolbar>

    <div class="middle-panel">
      <app-history [game]="game"></app-history>

      <div class="middle-column">
        <app-game-state [game]="game"></app-game-state>
        <app-hand [game]="game"></app-hand>
      </div>

      <div class="right-panel">
        <app-player-selection [game]="game"></app-player-selection>
        <app-player-properties [game]="game"></app-player-properties>
      </div>

    </div>

    <app-actions [game]="game"></app-actions>
  }
</div>

