<!--<div class="wrapper">-->
<!--  @for (suit of Object.values(Suit); track suit) {-->
<!--    @for (rank of Object.values(Rank); track rank) {-->
<!--      <card [rank]="rank" [suit]="suit" [size]="CardSize.SMALL" [interactive]="true"/>-->
<!--    }-->
<!--  }-->

<!--</div>-->
<div class="wrapper">
  @if (game(); as game) {

    <app-toolbar [game]="game"></app-toolbar>

    <mat-list>
      @for (player of game.players; track player.id) {
        <mat-list-item>
          <span matListItemTitle>{{player.name}}</span>
          <span matListItemLine>Ready: {{player.ready}}</span>
          <span matListItemLine>Money: {{player.money}}</span>
          <span matListItemLine>Bet: {{player.bet}}</span>
          <span matListItemLine>Folded: {{player.folded}}</span>
        </mat-list-item>
      }
    </mat-list>
    <button mat-button (click)="sendReady(game)">Ready</button>
  }
</div>

