.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //flex-wrap: wrap;
  //
  //card {
  //  margin: 4px;
  //}

  .middle-panel {
    display: flex;
    justify-content: space-between;

    .middle-column {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    .right-panel {
      display: flex;

      app-player-selection {
        flex-basis: 40%;
      }

      app-player-properties {
        flex-basis: 60%;
      }
    }

    app-history, middle-column, .right-panel {
      flex-basis: calc(100% / 3);
    }

  }
}
