.wrapper {
  display: flex;
  justify-content: space-between;

  card {
    margin: 4px
  }

  .card-column {
    display: flex;
    flex-direction: column;

    .replace-label {
      text-align: center;
      margin-top: 5px;
      font-weight: 500;
      transform: scaleY(0.8);
      font-size: 60px;
      -webkit-user-select: none;
      user-select: none;
    }
  }
}
