<div class="wrapper">
  <div class="logo poker-text-light">
    <span>Poker</span>
    <mat-icon>playing_cards</mat-icon>
  </div>
  <div class="actions-row">
    <mat-form-field>
      <input
        [(ngModel)]="gameId"
        matInput
        required
        minlength="8"
        maxlength="8"
        placeholder="Game ID"
        #gameIdInput="ngModel"
      />
      @if (gameIdInput.invalid && (gameIdInput.dirty || gameIdInput.touched)) {
        <mat-error>Game ID must contains 8 characters.</mat-error>
      }
    </mat-form-field>

    <button (click)="joinGame()" [disabled]="gameIdInput.invalid" class="join-btn" mat-button>Join</button>
    <div class="poker-separator"></div>
    <button [color]="'secondary'" (click)="createGame()" class="create-btn" mat-button>
      Create new game
    </button>
  </div>
</div>


