@use '@angular/material' as mat;

$theme: mat.define-theme();

.column {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo {
    margin: 50px;
    font-size: 70px;
    color: #f1f1f1;
    mat-icon {
      font-size: 70px;
      width: 70px;
      height: 70px;
      transform: translateY(10%);
    }
  }

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;

    .separator {
      margin: 40px;
      margin-top: 30px;
      width: 5px;
      height: 200px;
      background-color: #5e5f61;
    }

    button {
      padding: 30px;
      font-size: 30px;
      height: 56px;
      margin-bottom: 16px;
      @include mat.button-color($theme, $color-variant: secondary);
    }

    .join-btn {
      margin-left: 10px;
    }

    .create-btn {
      margin-right: 40px;
    }
  }
}
