<div class="poker-panel">
  @if (selectedPlayer(); as selectedPlayer) {
    <div class="properties">

      <div class="column">
        <mat-icon>account_circle</mat-icon>
        <span>{{selectedPlayer.name}}</span>
      </div>

      <div class="column">
        <div>
          <mat-icon>paid</mat-icon>
          <span>{{selectedPlayer.money}}</span>
        </div>
        <div>
          <mat-icon>poker_chip</mat-icon>
          <span>{{selectedPlayer.bet}}</span>
        </div>
      </div>

    </div>

    <div class="player-cards">
      @for (card of selectedPlayerCards(); track (card.suit + card.rank)) {
        <card [rank]="card.rank" [suit]="card.suit" [size]="CardSize.SMALL"/>
      }
    </div>
  }
</div>
