<mat-toolbar>
  @if (myPlayer(); as myPlayer) {
      <div class="start">
        <div>
          <mat-icon inline>account_circle</mat-icon>
          <span>{{myPlayer.name}}</span>
        </div>

        <div>
          <mat-icon inline>paid</mat-icon>
          <span>{{myPlayer.money}}</span>
        </div>

        <div>
          <mat-icon inline>poker_chip</mat-icon>
          <span>{{myPlayer.bet}}</span>
        </div>
      </div>

      <div class="middle">
        Game ID: {{game().gameId}}
      </div>

      <div class="end">
        <button mat-button (click)="leave()">
          <mat-icon>logout</mat-icon>
          <span>Leave</span>
        </button>
      </div>
  }
</mat-toolbar>
