<mat-selection-list class="mat-elevation-z5" [multiple]="false">
  @for (player of game().players; track player.id) {
    <mat-list-option [selected]="selectedPlayerId() === player.id" (selectedChange)="onPlayerChange(player)">

      <span matListItemTitle>
        @if (game().currentPlayerId === player.id) {
          <mat-icon>chevron_right</mat-icon>
        } @else if (!player.folded && player.money === 0 && (game().phase === GamePhase.FIRST_BETTING || game().phase === GamePhase.SECOND_BETTING)) {
          <mat-icon>done_all</mat-icon>
        } @else if (player.ready) {
          <mat-icon>check_small</mat-icon>
        } @else if (player.folded) {
          <mat-icon>close</mat-icon>
        } @else if (game().phase === GamePhase.SHOWDOWN && player.id === game().winnerId) {
          <mat-icon>crown</mat-icon>
        } @else {
          <mat-icon class="empty-icon">check_small</mat-icon>
        }
        <span>
          {{player.name}}
        </span>
      </span>
    </mat-list-option>
  }
</mat-selection-list>
