:host {
  display: flex;
  justify-content: center;

  mat-selection-list {
    flex-grow: 1;

    mat-list-option {
      .empty-icon {
        opacity: 0;
      }
    }
  }
}

mat-selection-list.mobile {
  mat-list-option {
    --mdc-list-list-item-label-text-size: 16px;
    height: 30px;
    padding-left: 10px;

    mat-icon {
      font-size: 26px;
      margin-right: 4px;
      margin-bottom: -4px;
    }
  }
}

mat-selection-list.desktop {
  mat-list-option {
    --mdc-list-list-item-label-text-size: 20px;
    height: 40px;
    padding-left: 12px;

    mat-icon {
      font-size: 32px;
      margin-right: 6px;
      margin-bottom: -4px;
    }
  }
}


