  @if (actionsForGameNotStarted()) {
    <button class="button-large" mat-button (click)="sendReady()">
      {{ myPlayer()?.ready ? 'Not ready' : 'Ready' }}
    </button>
  } @else if (actionsForShowdown()) {
    <button class="button-large" mat-button (click)="sendReady()">
      {{ myPlayer()?.ready ? 'Not ready' : 'Ready for next round' }}
    </button>
  } @else if (actionsForBetting()) {
    <poker-game-betting-actions [game]="game()"/>
  } @else if (actionsForDrawing()) {
    <button class="button-large" mat-button [disabled]="!myTurn()" (click)="sendReplace()">
      Replace cards ({{cardsToReplaceCount()}})
    </button>
  }
